body{
    margin: 0px;
    padding: 0px; 
    
}

header{
    background-color: black;
    height: 8em;
    width: 100%;
    margin: none;
}

/*MENU*/
    #logo{
        height: 100%;
        margin-left: 2%;
        border-color: white;
        border-width: 1px;
        float: left;
        padding: 0%;
    }

    .menu_header{
        height: 100%;
        width: auto;
        float: left;
        margin-left: 5em;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
        .botoes_header,
        #botao_login{
            text-decoration: none;
            padding: 1em;
            font-family: Arial;
            border-style: solid;
            border-radius: 3px;
            border-width: 1px;
            border-color: black;
            margin-left: 5em;
            color: white;
            background-color: black;
        }
            .botoes_header:hover,
            #botao_login:hover{

                background-color: white;
                color: black;
                transition: 0.3s;
            }
            .botao_geral{
                text-decoration: none;
                width: 6em;
                padding: 1em;
                font-family: Arial;
                border-style: solid;
                border-radius: 3px;
                border-width: 1px;
                border-color: black;
                color: white;
                background-color: black;
            }.botao_geral:hover{
                background-color: white;
                color: black;
                transition: 0.3s;
            }
            .container_dropdown{
                background-color: red;
                height: 3em;
                display: flex;
                flex-direction: column;
                align-items: center;
       
            }
            .botao_geral_dropdown{
                position: relative;
                text-decoration: none;
                padding: 1em;
                font-family: Arial;
                border-style: solid;
                border-radius: 3px;
                border-width: 1px;
                border-color: black;
                color: white;
                background-color: black;
                display: none;
                
            }.botao_geral_dropdown:hover{
                background-color: white;
                color: black;
                transition: 0.3s;
            }
    .div_login_carrinho{
        background-color: blue;
        width: auto;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #botao_carrinho{
        height: 50px;
        text-decoration: none;
        padding: 1em;
        font-family: Arial;
        border-style: solid;
        border-radius: 3px;
        border-width: 1px;
        border-color: black;
        margin-left: 1em;
        color: white;
    }    
    #botao_carrinho:hover{
        background-color: white;
        color: black;
        transition: 0.5s;
    }

    #cart_header{
        width: 4em;
        fill: white;
    }
     /* Menu-Responsivo */
    @media(max-width:1618px)
    {
        .botoes_header{
            margin-left: 4em;
        }
    }
    @media(max-width:1540px)
    {
        .botoes_header{
            margin-left: 3em;
        }
    }
    @media(max-width:1460px)
    {
        .botoes_header{
            margin-left: 2em;
        }
        .menu_header{
            margin-left: 4em;
        }
    }
    @media(max-width:1402px)
    {
        .botoes_header{
            margin-left: 2em;
        }
        .menu_header{
            margin-left: 3.5em;
        }
    }
    @media(max-width:1352px)
    {
        .botoes_header{
            margin-left: 1em;
        }
        .menu_header{
            margin-left: 3em;
        }
    }
    @media(max-width:1266)
    {
        .botoes_header{
            margin-left: 0.5em;
        }
        .menu_header{
            margin-left: 2.5em;
        }
    }


    /* Login/Cadastro */
    .tela_login{
        position: absolute;
        padding: 1em;
        width: 25%;
        height: auto;
        background-color: white;
        display: none;/* mudar aqui para teste do button de aparecer */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-style: solid;
        border-radius: 30px;
        border-color: white;
        z-index: 2;
    }  
        .texto_login{
            font-family: Arial;
            font-size: clamp(1em, 2vw, 2.5em);
            text-align: center;
            margin-top: 1%;
        }
        .form_tela_login{
            background-color: none;
            width: 100%;
            height: 70%;
        }
        .texto_campo{
            font-family: Arial;
            font-size: clamp(1em, 1.5vw, 1.5em);
            margin-top: 5%;
            margin-bottom: 0px;
            padding: 0px;
        }
        .login_campo{
            width: 98%;
            height: 2em;
            border-style: solid;
            border-color: black;
            border-radius: 5px;
            
        }
        .submit_campo{
            background-color: white;
            color: black;
            font-family: Arial;
            font-size: 110%;
            margin-top: 10%;
            width: 30%;
            height: 3em;
            border-style: solid;
            border-color: black;
            border-radius: 5px;
            position: relative;
            left: 50%;
            transform: translate(-50%)
        }.submit_campo:hover{
            background-color: black;
            color: white;
            transition: 0.2s;
        }

        .login_incompleto{
            font-family: Arial;
            font-weight: bold;
            background-color: red;
            border: 1px solid red;
            border-radius: 4px;
            text-align: center;
            padding: 1em;
            margin-bottom: 1em;
        }
        .texto_cadastro{
            font-family: Arial;
            font-size: 1.1em;
        }
        .botao_cadastro{
            font-family: Arial;
            font-size: 1.1em;
            background-color: white;
            border: none;
            text-decoration: none;
            margin: 0px;
            padding: 0px;
        }.botao_cadastro:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .tela_cadastro{
            position: absolute;
            padding: 1em;
            width: 70%;
            height: auto;
            background-color: white;
            display: none;/* mudar aqui para teste do botton de aparecer */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-style: solid;
            border-radius: 30px;
            border-color: white;
            z-index: 2;
    
        }
        .cadastro_campo{
            width: 98%;
            height: 2em;
            border-style: solid;
            border-color: black;
            border-radius: 5px;   
            margin-bottom: 1em;
            display: flex; 
            font-size: 1em;
            border-width: 1px;
            z-index: 2;
        }
        .cadastro_campo2{
            width: 97%;
            height: 2em;
            border-style: solid;
            border-color: black;
            border-radius: 5px;   
            margin-bottom: 1em;
            font-size: 1em;
            border-width: 1px;
        }
        .cadastro_ladoa{
            padding-right: 5%;
            width: 45%;
            float: left;
            border-right: solid 1px;
        }
        .cadastro_ladoin_a{
            width: 45%;
            float: left;
        }
        .cadastro_ladoin_b{
            width: 45%;
            float: right;
            margin-left: 5%;
        }
        .cadastro_ladob{
            float: right;
            width: 44%;
            margin-left: 5%;
        }

        /*SESSION CADASTRO CONCLUÍDO*/
        .cadastro_concluido_tela{
            background-color: white;
            position: absolute;
            width: 70%;
            margin-left: 15%;
            border: solid;
            border-radius: 5px;
            border-width: 2px;
            text-align: center;
            top: 50%;
            transform: translate(0%, -50%);
        }
        .texto_cadastro_concluido{
            font-family: Arial;
            font-size: 17pt;
            margin: 0px;
            padding: 5px;
            text-decoration: none;
            color: black;
        }
        .texto_cadastro_concluido_aqui{
            font-family: Arial;
            font-size: 17pt;
            margin: 0px;
            padding: 0px;
            height: 1px;
            text-decoration: none;
            color: black;
            border: none;
            margin-left: 5px;
            background-color: white;
        }.texto_cadastro_concluido_aqui:hover{
            text-decoration: underline;
        }
        /*SESSION USUÁRIO EXISTE*/