/*/CARROSSEL/*/
.carousel_marca{
    background-color: white;
    height: auto;
    width: 100%;
}
.carousel{
    background-color: red;
    width: 90%;
    height: 400px;
    align-items: center;
    overflow: hidden;
    margin-left: 5%;
}

.container_carousel{
    display: flex;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
}

.imagem_carousel{
    object-fit: cover;
    width: 100%;
    height: 400px;
}
/*/FIM CARROSSEL/*/
/*/PRODUTOS/*/
.produtos_lancamento{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    margin-left: 1.5%;
}
.produtos{
    margin-top: 1%;
}
.produtos_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.produto_itens{
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3em;
    
}
.produto_imagem{
    width: 100%;
    border: solid 2px white;
}.produto_imagem:hover{
    border: solid 2px black;
    transition: 0.5s;
}
.produto_nome{
    font-family: Arial;
    font-size: 15pt;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0em;
}
.produto_preco{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: center;
    margin: 0.5em;
}
/*/FIM PRODUTOS/*/
/*/FILTROS/*/
.filtros{
    height: 3.3em;
    padding-left: 5em;
}
.filtros_itens{
    background-color: #f0f0f0;
    height: 1em;
    width: auto;
    float: left;
    padding: 0.2em;
    margin-top: 1em;
    margin-left: 0.3em;
}
.checkbox_filtros{
    width: 1.2em;
    height: 1.2em;
    margin: 0px;
    float: left;
    cursor: pointer;
}
.nomes_checkbox{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 1.3em;
    font-weight: bold;
}

.ordenar{
    background-color: red;
    height: auto;
    width: 10em;
    padding: 0.3em;
    margin-left: 5em;
}